@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.Card {
  margin-top: 100px;
  width: 30%;
}

.Card > div {
  text-align: center;
}

.Card .WrapImg {
  overflow: hidden;
}

.Card .WrapImg img {
  transition: all .3s ease-in-out;
}

.Card .WrapImg:hover img {
  transform: scale(1.1);
}

.Card > div h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.Card:hover img {
  opacity: 0.8;
}

/* 반응형 */
@media screen and (max-width: 1084px) {
  .Card {margin-top: 70px; width:48%;}
}
