.Login {
  padding-top: 130px;
  text-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Login_btn {
  border: 0;
  border-radius: 5px;
  color: white;
  background: rgb(228, 141, 11);
  width: 100%;
  padding: 5px;
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.Login_text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 30px;
}

.Login_text input {
  height:35px;
  margin-bottom: 15px;
  border: 1px solid #999ea3;
  background: rgb(247, 247, 247);
}

.sign {
  margin-top: 20px;
  color: rgb(109, 108, 108);
  font-weight: bold;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0 10px;
}

.Login_form {
  width: 280px;
}