@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

.first_text_box {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-bottom: 50px;
}
.first_text_box p {
  margin-bottom: 0.5rem;
}

.Main {
  padding: 200px 50px;
}

.main_img {
  justify-content: center;
  display: flex;
  flex-wrap: wrap
}

.main_img > img {
  width: 48%;
  margin: 10px;
  box-shadow: 5px 5px 4px rgb(213, 214, 194)
}

.second_text_box {
  margin-bottom: 100px;
  font-size: 20px;
}

/* animation */
.ani {transition:all 0.7s ease-in-out; opacity: 0;}
.ani.bottom{transform:translateY(50px);}
.ani.active {
  opacity:1;
  transform:translate(0px,0px) ;
  -webkit-transform:translate(0px,0px) ;
}
.delay1{
  transition-delay: .1s;
}
.delay2{
  transition-delay: .2s;
}

/* 반응형 */
@media screen and (max-width: 1120px) {
  .main_img > img {width:82%; margin:20px 0;}
  .first_text_box {margin-bottom:30px; font-size:32px;}
  .second_text_box {font-size: 16px;}
}
