.first_text_box {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
}

.Main {
  padding: 200px 50px;
}

.main_img {
  justify-content: center;
  display: flex;
  flex-wrap: wrap
}

.main_img > img {
  width: 48%;
  margin: 10px;
  box-shadow: 5px 5px rgb(213, 214, 194)
}

.second_text_box {
  margin-bottom: 100px;
}
